tempgen/*
gerador/script/schema.sql
lib/target/*
gerador/customGen/*
gerador/target/*
.project
.classpath
.settings
test/bin/*
gen
test/target/*
test/src/main/java/br/com/cds/mobile/framework/test/db/DB.java
test/src/main/java/br/com/cds/mobile/framework/test/GenericBean.java
test/.gerador.xml
test_server/django/*
test_server/test.db
*.pyc
*.swp
maven_plugin_gerador/target
maven_plugin_gerador/bin
