__tempgen_core
__tempgen_android
__tempgen_jdbc
__tempgen_appios
gerador/script/schema.sql
lib/target/*
shared/target/*
lib_jdbc/target/*
lib_jdbc/src/test/java/com/quantium/mobile/framework/libjdbctest/gen/*
lib_android/target/*
gerador/customGen/*
gerador/target/*
.project
.classpath
.settings
test/bin/*
gen
test/target/*
test/src/main/java/br/com/cds/mobile/framework/test/db/DB.java
test/src/main/java/br/com/cds/mobile/framework/test/GenericBean.java
test/.gerador.xml
test/res/values/sql.xml
*.pyc
*.swp
maven_plugin_gerador/target
maven_plugin_gerador/bin
